In [ ]:
#Date:22 March 2025

In [ ]:
# -- input Section 
# 1. Enter Student Name : Ravi
# 2. Enter Roll Number : RAVI009912
# 3. Enter Class : MCA
# 4. Enter JAVA Marks : 56
# 5. Enter C++ Marks : 89
# 6. Enter Python Marks : 12
# 7. Enter Ruby Marks : 56
# 8. Enter SQL Marks : 78

# -- Output Section
# Student Name : Ravi
# Roll Number : RAVI009912
# Class : MCA
# Enter JAVA Marks : 56/100
# C++ Marks : 89/100
# Python Marks : 12/100
# Ruby Marks : 56/100
# SQL Marks : 78/100
#    total = ?
#    Per % = ?%

In [33]:
Student_name = str(input("Enter Student Name"))
Roll_name = str(input("Enter Roll Number"))
Student_class = str(input("Enter Class"))
Java_marks = int(input("Enter Java marks"))
C_marks = int(input("Enter C++ marks"))
Python_marks = int(input("Enter python marks"))
Ruby_marks = int(input("Enter Ruby marks"))
SQL_marks = int(input("Enter SQL marks"))

print("Student name is:", Student_name)
print("Roll Number is:", Roll_name)
print("Class is:", Student_class)
print("Java marks is:", Java_marks)
print("C++ marks is:", C_marks)
print("Python marks is:", Python_marks)
print("Ruby marks is:", Ruby_marks)
print("SQL marks is:", SQL_marks)

Enter Student Name Calvin
Enter Roll Number CALVIN008812
Enter Class DVA
Enter Java marks 86
Enter C++ marks 56
Enter python marks 45
Enter Ruby marks 90
Enter SQL marks 30

Student name is: Calvin
Roll Number is: CALVIN008812
Class is: DVA
Java marks is: 86
C++ marks is: 56
Python marks is: 45
Ruby marks is: 90
SQL marks is: 30

In [2]:
Student_name = str(input("Enter Student Name"))
Roll_name = str(input("Enter Roll Number"))
Student_class = str(input("Enter Class"))
Java_marks = int(input("Enter Java marks"))
C_marks = int(input("Enter C++ marks"))
Python_marks = int(input("Enter python marks"))
Ruby_marks = int(input("Enter Ruby marks"))
SQL_marks = int(input("Enter SQL marks"))

print("Student name is:", Student_name)
print("Roll Number is:", Roll_name)
print("Class is:", Student_class)
print("Java marks is:", Java_marks)
print("C++ marks is:", C_marks)
print("Python marks is:", Python_marks)
print("Ruby marks is:", Ruby_marks)
print("SQL marks is:", SQL_marks)


total_marks = Java_marks + C_marks + Python_marks + Ruby_marks + SQL_marks
print("The total marks is:", total_marks, "/500")

Enter Student Name Calvin
Enter Roll Number CALVIN008812
Enter Class DVA
Enter Java marks 86
Enter C++ marks 56
Enter python marks 45
Enter Ruby marks 90
Enter SQL marks 30

Student name is: Calvin
Roll Number is: CALVIN008812
Class is: DVA
Java marks is: 86
C++ marks is: 56
Python marks is: 45
Ruby marks is: 90
SQL marks is: 30
The total marks is: 307 /500

In [10]:
Student_name = str(input("Enter Student Name"))
Roll_name = str(input("Enter Roll Number"))
Student_class = str(input("Enter Class"))
Java_marks = int(input("Enter Java marks"))
C_marks = int(input("Enter C++ marks"))
Python_marks = int(input("Enter python marks"))
Ruby_marks = int(input("Enter Ruby marks"))
SQL_marks = int(input("Enter SQL marks"))

print("Student name is:", Student_name)
print("Roll Number is:", Roll_name)
print("Class is:", Student_class)
print("Java marks is:", Java_marks)
print("C++ marks is:", C_marks)
print("Python marks is:", Python_marks)
print("Ruby marks is:", Ruby_marks)
print("SQL marks is:", SQL_marks)


total_marks = Java_marks + C_marks + Python_marks + Ruby_marks + SQL_marks
print("The total marks is:", total_marks, "/500")


percentage =(total_marks/500)*100
print("The total percentage is:",percentage,"%")

Enter Student Name Calvin
Enter Roll Number CALVIN008812
Enter Class DVA
Enter Java marks 86
Enter C++ marks 56
Enter python marks 45
Enter Ruby marks 90
Enter SQL marks 30

Student name is: Calvin
Roll Number is: CALVIN008812
Class is: DVA
Java marks is: 86
C++ marks is: 56
Python marks is: 45
Ruby marks is: 90
SQL marks is: 30
The total marks is: 307 /500
The total percentage is: 61.4 %

In [15]:
Student_name = str(input("Enter Student Name"))
Roll_name = str(input("Enter Roll Number"))
Student_class = str(input("Enter Class"))
Java_marks = int(input("Enter Java marks"))
C_marks = int(input("Enter C++ marks"))
Python_marks = int(input("Enter python marks"))
Ruby_marks = int(input("Enter Ruby marks"))
SQL_marks = int(input("Enter SQL marks"))

print("Student name is:", Student_name)
print("Roll Number is:", Roll_name)
print("Class is:", Student_class)
print("Java marks is:", Java_marks)
print("C++ marks is:", C_marks)
print("Python marks is:", Python_marks)
print("Ruby marks is:", Ruby_marks)
print("SQL marks is:", SQL_marks)


total_marks = Java_marks + C_marks + Python_marks + Ruby_marks + SQL_marks
print("The total marks is:", total_marks, "/500")


percentage =(total_marks/500)*100
print("The total percentage is:",percentage,"%")


def calculate_grade(percentage):
    if percentage < 45:
        return "F (Fail)"
    elif percentage < 55:
        return "C"
    elif percentage < 65:
        return "B"
    elif percentage <= 100:
        return "A"
    else:
        return "Invalid percentage"

# Calculate the grade using the function
grade = calculate_grade(percentage)

# Print the result
print("Your grade is:", grade)

Enter Student Name Calvin
Enter Roll Number CALVIN008812
Enter Class DVA
Enter Java marks 86
Enter C++ marks 56
Enter python marks 45
Enter Ruby marks 90
Enter SQL marks 30

Student name is: Calvin
Roll Number is: CALVIN008812
Class is: DVA
Java marks is: 86
C++ marks is: 56
Python marks is: 45
Ruby marks is: 90
SQL marks is: 30
The total marks is: 307 /500
The total percentage is: 61.4 %
Your grade is: B