In [ ]:
#Date:18 March 2025

In [2]:
#print()
print("welcome to codeswithcalvin.com")

welcome to codeswithcalvin.com

In [4]:
print('welcome to blog cwpc.in')

welcome to blog cwpc.in

In [6]:
print("'cwpc.in'")
print('"codeswithcalvin.com"')

'cwpc.in'
"codeswithcalvin.com"

In [8]:
# variable
number = 10
print('this is number ',number)

this is number  10

In [10]:
name = "Nishant"
age = 23
height = 4.5

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

My name is   Nishant
My age is   23
height is  4.5

In [12]:
# input
name = input('Enter Your Name ')
age = input('Enter Your Age ')
height = input('Enter Your height ')

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

Enter Your Name  Joy
Enter Your Age  12
Enter Your height  3.4

My name is   Joy
My age is   12
height is  3.4

In [14]:
# int()
# float()
# str()

name = str(input('Enter Your Name '))
age = int(input('Enter Your Age '))
height = float(input('Enter Your height '))

print("My name is  ",name)
print("My age is  ",age)
print("height is ",height)

Enter Your Name  joy
Enter Your Age  23
Enter Your height  2.4

My name is   joy
My age is   23
height is  2.4

In [ ]:
#Date:20 March 2025

In [6]:
#Arithmetic Operators

In [8]:
x = 158
y = 23

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** 2)

181
135
3634
6.869565217391305
6
20
24964

In [10]:
#Comparison Operators

In [12]:
print(23 < 34)
print(23 > 34)
print(23 == 34)
print(23 != 34)
print(23 <= 34)
print(23 >= 34)

True
False
False
True
True
False

In [14]:
#Logical Operators

In [16]:
# and
print(23 == 67 and 78 < 100) 
# or 
print(23 == 67 or 78 < 100) 
# not 
print( not 34 == 34)

False
True
False

In [18]:
#Assignment Operators

In [20]:
a = 10 
print(a)

# a = a + 10
a += 10
print(a)
a -= 10
print(a)
a *= 10
print(a)
a /= 10
print(a)

10
20
10
100
10.0

In [22]:
#Identity Operators

In [24]:
#is 
a = 10
b = 20
print(a is b)
# is not
print(a is not b)

False
True

In [ ]:
#Membership Operators

In [26]:
web = "codeswithcalvin.com"
print('c' in web)
print('c' not in web)

True
False

In [28]:
# if else

a = 10 
b = 78

# find the smallest values 

if a < b :
    print("a is smallest")
else:
    print("a is not smallest ...")

a is smallest

In [30]:
a = 10
b = 20
c = 30

if a < b and a < c:
    print(' a is smallest ...')
elif b < a and b < c:
    print(" b is smallest ...")
else:
    print(' c is smallest ...')

 a is smallest ...

In [ ]:
#Date:22 March 2025

In [2]:
web = "codeswithcalvin"
for i in web:
    print(i)

c
o
d
e
s
w
i
t
h
c
a
l
v
i
n

In [4]:
# range(EndValue) # start 0

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# range(start,end)

for i in range(10,23):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22

In [8]:
# range(start,end,steps)

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
# take user input
start = int(input('enter start number '))
end = int(input('enter end number '))

for i in range(start,end+1):
    print(i)

enter start number  10
enter end number  17

10
11
12
13
14
15
16
17

In [12]:
#end=' '

for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [14]:
# while loop 

# start point
# end point
# output
# +/-

i = 1
while(i <= 10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [16]:
# function basic 

# def functionName():
    # output

def info():
    print("welcome to codes with calvin")
    print("cwpc.in")

# call the function
info()
info()

welcome to codes with calvin
cwpc.in
welcome to codes with calvin
cwpc.in

In [18]:
# with arg

def add(num1,num2):
    print(num1+num2)

add(1200,67)

1267

In [20]:
# return type

def get_number():
    return 900

print("this is number : ",get_number())

this is number :  900

In [22]:
# return type and with arg

def get_result(total,per):
    f_total = total*per/100
    f_total = total+ f_total
    return f_total

In [24]:
final = get_result(1200,18)

m_final = 345 + final
print(' this is main result ',final)

 this is main result  1416.0

In [ ]:
#Date:25 March 2025

In [26]:
# Date and time in python 

import datetime

# Get the current date and time
now = datetime.datetime.now()

print(now)

2025-03-29 10:17:55.084868

In [28]:
# get only month 
print(now.month)

# get only day
print(now.day)

# get only year
print(now.year)


# get only hour
print(now.hour)

# get only minute
print(now.minute)

# get only second
print(now.second)

3
29
2025
10
17
55

In [30]:
# get complete date
print(now.strftime("%Y-%m-%d"))

# get complete time
print(now.strftime("%H:%M:%S"))

# get month name in character
print(now.strftime("%B"))

2025-03-29
10:17:55
March

In [32]:
# show calendar
import calendar
print(calendar.month(2025, 3))  # prints the calendar for February 2024

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [34]:
# get full year calendar
year = 1995
print(calendar.calendar(year))  # prints the calendar for 2022

                                  1995

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [18]:
import emoji
print(emoji.emojize(":thumbs_up:"))

ðŸ‘

In [40]:
# List in python 
# List is a collection which is ordered and changeable. Allows duplicate members.

In [42]:
# create a empty list
my_list = []
print(my_list)  # Output: []
# check the type of my_list
print(type(my_list))  # Output: <class 'list'>

[]
<class 'list'>

In [44]:
# init list with values
my_list = [1, 2, 3, 4, 5]
print(my_list)  # Output: [1, 2, 3, 4,

[1, 2, 3, 4, 5]

In [46]:
# mixed data types
my_list = [1, 2, 3, 4, 5, "hello", 3.14]
print(my_list)  # Output: [1, 2, 3, 4, 5, 'hello', 3.14]

[1, 2, 3, 4, 5, 'hello', 3.14]

In [48]:
# aeccess list element
#index       0        1          2        3        4        5       6
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
#-ve         -7       -6         -5       -4       -3       -2      -1

# print the element at index 0
print(fruits[0])  # Output: apple
print(fruits[-7])  # Output: apple

print(fruits[1])  # Output: banana

apple
apple
banana

In [50]:
#slice list
# get the elements from index 1 to 4 (not included)
print(fruits[1:4])  # Output: ['banana', 'cherry', 'orange']
print(fruits[-6:-3])  # Output: ['banana', 'cherry', 'orange']

print(fruits[:4])  # Output: ['apple', 'banana', 'cherry', 'orange']

print(fruits[2:])

print(fruits[:])
print(fruits)

['banana', 'cherry', 'orange']
['banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [52]:
print(fruits)
# change the value of an element
fruits[0] = "avocado"
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['avocado', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [54]:
# insert element at specific index
fruits.insert(2, "blueberry")
print(fruits)

['avocado', 'banana', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [56]:
# append element at the end of the list
fruits.append("strawberry")
print(fruits)

['avocado', 'banana', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry']

In [58]:
# remove element
fruits.remove("banana")
print(fruits)

['avocado', 'blueberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry']

In [60]:
# remove element at specific index
fruits.pop(2)

'cherry'

In [62]:
print(fruits)

['avocado', 'blueberry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry']

In [64]:
# extend list
new_fruits = ["grapes", "watermelon"]
fruits.extend(new_fruits)
print(fruits)

['avocado', 'blueberry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry', 'grapes', 'watermelon']

In [66]:
# pop element from the end of the list
fruits.pop()
print(fruits)

['avocado', 'blueberry', 'orange', 'kiwi', 'melon', 'mango', 'strawberry', 'grapes']

In [68]:
# intreting list
for i in fruits:
    print(i)

avocado
blueberry
orange
kiwi
melon
mango
strawberry
grapes

In [70]:
# check if an element is in the list

print("apple" in fruits) 

print("kiwi" in fruits)

False
True

In [5]:
# how to take user input into list 

# define size and list 

size = int(input("Enter the size of the list: "))
food = []

# take input from user
for i in range(size):
    f = input("Enter the food: ")
    food.append(f)
    
    

for i in food:
    print(i)

Enter the size of the list:  2
Enter the food:  jalebi
Enter the food:  pav

jalebi
pav

In [ ]:
#Date:27 March 2025

In [7]:
# name = joy
# key = value

# dict = {key1: value1, key2: value2, key3: value3}

# Dictionary is a collection of key-value pairs
# Dictionary is mutable
# Dictionary is unordered
# Dictionary is indexed

In [9]:
# EXAMPLE : 

data = {'name': 'joy', 'age': 25, 'city': 'Dhaka'}
print(data)

{'name': 'joy', 'age': 25, 'city': 'Dhaka'}

In [11]:
# access the items of a dictionary
print(data['name'])

joy

In [13]:
# get all keys of a dictionary
print(data.keys())

dict_keys(['name', 'age', 'city'])

In [15]:
# get all values of a dictionary
print(data.values())

dict_values(['joy', 25, 'Dhaka'])

In [17]:
# get data from keys 
print(data.get('name'))

joy

In [19]:
# get all data from using items() method
print(data.items())

dict_items([('name', 'joy'), ('age', 25), ('city', 'Dhaka')])

In [21]:
# update values of a dictionary
data['age'] = 30
print(data)

{'name': 'joy', 'age': 30, 'city': 'Dhaka'}

In [23]:
# add new key-value pair in a dictionary

data['country'] = 'Bangladesh'
print(data)

{'name': 'joy', 'age': 30, 'city': 'Dhaka', 'country': 'Bangladesh'}

In [25]:
# delete a key-value pair from a dictionary
del data['city']
print(data)

{'name': 'joy', 'age': 30, 'country': 'Bangladesh'}

In [27]:
# iterate through a dictionary
# fetch data from loop
for i in data:
    print(i,'=', data[i])

name = joy
age = 30
country = Bangladesh

In [29]:
# fetch data from items() method
for key, value in data.items():
    print(key, '=', value)

name = joy
age = 30
country = Bangladesh

In [31]:
# check if a key exists in a dictionary

print('name' in data)
print('city' in data)

True
False

In [33]:
# format using in String

name = 'joy'
age = 25
height = 5.6

print('my name is : ',name)
print('my age is : ',age)
print('my height is : ',height)

my name is :  joy
my age is :  25
my height is :  5.6

In [35]:
print('my name is ',name,'age is ',age,'height is ',height)

my name is  joy age is  25 height is  5.6

In [37]:
print('My name {0} , height  {2} and age {1}'.format(name, age, height))

My name joy , height  5.6 and age 25

In [39]:
print(f'My name is {name}, age is {age} and height is {height}')

My name is joy, age is 25 and height is 5.6

In [41]:
for key, value in data.items():
    print(f'{key} = {value}')

name = joy
age = 30
country = Bangladesh

In [43]:
# how to take user input and store in a dictionary

# step 1 : create a dictionary
# step 2 : take user input
# step 3 : store the input in the dictionary
# step 4 : print the dictionary
data = {}

name = input('Enter your name : ')
age = input('Enter your age : ')
city = input('Enter your city : ')

data['name'] = name
data['age'] = age
data['city'] = city

print(data)

Enter your name :  name
Enter your age :  23
Enter your city :  44

{'name': 'name', 'age': '23', 'city': '44'}